@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.center {
    text-align: center;
}

.bg {
    background-color: black;
}

.bgw {
    color: white;
}

.m-auto {
    margin: auto;
}

.fl {
    display: flex;
}

.fl-col {
    flex-direction: column;
}

.it-center {
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Chivo Mono', monospace;
    ;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid white;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.button-size {
    width: 219px;
}